<a href="#!/employees/list">List Employees</a>

<h2>New employee</h2>
<form ng-submit="addEmployee()">
    <div>
        First name: <input type="text" ng-model="newEmployee.firstName">
    </div>
    <div>
        Last name: <input type="text" ng-model="newEmployee.lastName">
    </div>
    <button>Hire employee</button>
</form>

<h2>All Current Employees</h2>
<div ng-repeat="person in employees | filter: query | filter: {employmentEnd: 0}:true">
    {{ person.firstName }} {{ person.lastName }}
</div>
<br>
<br>
<a href="#!/employees/list">Back</a>